nav a {
    text-decoration: none;
    color: black;
}

nav a:hover {
    text-decoration:dotted;
    color: rgb(212, 0, 255);
}

nav ul li {
    font-size: 30px;
    line-height: 1.5;
    margin: -10px;
}

nav .open {
    position: absolute;
    top: 0;
    left: 0;
}

nav label {
    font-size: 60px;
    cursor: pointer;
    margin: 0;
    position: relative;
}

nav span {
    margin-top: -15px;
}

#menustate,
nav ul,
nav .close {
    display: none;
    font-size: 60px;
    margin-top: -15px;
}

nav span:hover {
    color: rgb(212, 0, 255);
}

#menustate:checked ~ nav :is(ul, .close) {
    display: block;
}

#menustate:checked ~ nav .open {
    display: none;
}
